.btn {
  background-color: #e0e0e0;
  font-size: medium;
  font-weight: 700;
}

.operation {
  background-color: #f5913e;
}

.calculator-container {
  max-width: 305px;
  background-color: #a7a1a1d8;
}

.input-text {
  height: 46px;
  background-color: #858694;
  font-size: larger;
}
p, h4 {
  font-family: 'Comic Neue', sans-serif;
  font-weight: 700; 
}
